body {
    width: 100%;
    margin-top: 0px;
}

#navbar {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    background-color:#F8F8F8;
}
  
#navbar a{
    /* text-decoration: none; */
    display: inline-block;
    margin: 0 50px;
}
  
#navbar a li {
    list-style: none;
    font-family: Helvetica;
    font-weight: bold;
    color: darkblue;
}
  
#welcome-section {
    padding-top: 30vh;
    min-height: 55vh;
    text-align: center;
    background-color: #e0ebe8;
}

#welcome-section span{
    opacity: 0;
    font-family: Helvetica;
    font-size: 45px;
    font-weight: bold;
    color:darkblue; 
}


#welcome-section p {
    margin-top: -10px;
    opacity: 0;
}
  
#projects{
    width: 100%;
    background-color: white;
    text-align: center;
    padding-top: 60px;
}

.sub-title{
    font-family: Helvetica;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    color: darkblue; 
}
  
.project {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 30px 30px;
    border: solid 2px darkblue;
    overflow: hidden;
    position: relative;
}  
  
.project img {
    width: 100%;
    height: 100%;
}

.project .caption {
    font-size: 130%;
    text-align: center;
    color: white;
    padding-top: 135px;
    font-family: Helvetica;
}

.project .mask {
    width: 100%;
    height:	100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color:darkblue;
    -webkit-transition:	all 0.4s ease-out;
    transition:	all 0.4s ease-out;
}

.project:hover .mask {
    opacity: 1;	
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

#projects a {
    text-decoration: none;  
    color: #008080;
}
  
.project-tile {
    padding-bottom: 2px ;
}  
  
#skills{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    padding-top: 60px;
}

.skill {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  width: 200px;
  height: 50px;
  margin: 5px 5px;
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
  /* border: solid 2px darkblue; */
  border-radius: 10px;
  font-size: 16px;
}  

.btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  border: solid 1px green;
  border-radius: 5px;
  padding: 5px 0;
  background-color: #e0ebe8; 
  margin-bottom: 100px;
}

#certificates{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-top: 60px;
}

.certificate {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  width: 600px;
  height: 50px;
  margin: 5px 5px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}  
.certificate:hover {
  background-color: darkblue;
}

.ibm {
  background-color: black
}

.google {
  background-color: lightcoral
}

.fcc {
  background-color: darkgreen
}

#contact {
  text-align: center;
  font-family: Helvetica;
  width: 800px;
  margin: 0 auto;
  padding-top: 60px;
}

#profile {
  display: flex;
  flex-direction: row
}

#contact #profile-explanation {
  /* margin-top: -20px; */
  font-family: Helvetica;
  font-size: 16px;
  text-align: justify;
  width: 500px;
  padding-right: 20px;
}

#contact #profile-photo {
  width: 300px;
}

#contact a{
  text-decoration: none;
}

footer {
  padding-top: 10px;
  text-align: center;
  font-family: Helvetica;
  color:darkblue; 
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
}

/* .fadeIn {
  transform: translate3d(0, -10px, 0);
  transition: 1s;
  opacity: 0;
}

.fadeIn.animated {
  transform: translate3d(0, 0, 0);
  opacity: 1;
} */

@media (max-width: 650px){
  #navbar {
    justify-content: center;
  }
  #navbar a {
    margin: 0 auto;
  }
  #welcome-section {
    padding-top: 20vh;
    min-height: 15vh;
  }
  #welcome-section span{
      font-size: 24px;
  }
  #projects{
      padding-top: 0px;
  }
  .project {
      margin: 10px auto;
  }
  .sub-title{
      font-size: 24px;
  }
  .project .caption {
      font-size: 16px;
      padding-top: 150px;
  }  
}