body {
  width: 100%;
  margin-top: 0px;
}

#navbar {
  width: 100%;
  position: fixed;
  background-color:#F8F8F8;
  z-index:9998;
}

#responsiveMenu a{
  color: darkblue;
  font-family: Helvetica;
  font-weight: bold;
}

#responsiveMenu ul{
  margin-left:auto;
}

#welcome-section {
  padding-top: 20vh;
  min-height: 620px;
  text-align: center;
  background-color: #e0ebe8;
}

#welcome-section span{
  opacity: 0;
  font-family: Helvetica;
  font-size: 45px;
  font-weight: bold;
  color:darkblue; 
}

#welcome-section p {
  margin-top: -10px;
  opacity: 0;
}

.btns-section {
  margin-top: 20px;
  margin-bottom: 40px;
  width: 600px;
  margin-left:auto;
  margin-right: auto;
}

.btns-filter {
  color: white;
  background-color:darkblue;
  border-radius: 5px;
  border: darkblue;
  padding: 3px 10px;
  margin-top:20px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}

.btns-filter:hover {
  color: black;
  background-color: cyan;
  border: cyan;
}

.btns-filter:focus {
  color: black;
  background-color: cyan;
  border: cyan;
}

.org-btns {
margin-top: -40px;
}
  
#projects{
  width: 100%;
  background-color: white;
  text-align: center;
  padding-top: 60px;
}

.sub-title{
  font-family: Helvetica;
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  color: darkblue; 
}
  
.project {
  display: inline-block;
  width: 400px;
  height: 300px;
  margin: 15px 15px;
  border: solid 2px darkblue;
  overflow: hidden;
  position: relative;
}  
  
.project img {
  width: 100%;
  height: 100%;
}

.project .caption {
  font-size: 130%;
  text-align: center;
  color: white;
  padding-top: 120px;
  font-family: Helvetica;
}

.project .mask {
  width: 100%;
  height:	100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  background-color:darkblue;
  -webkit-transition:	all 0.4s ease-out;
  transition:	all 0.4s ease-out;
}

.project:hover .mask {
  opacity: 1;	
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

#projects a {
  text-decoration: none;  
  color: #008080;
}
  
.project-tile {
  padding-bottom: 2px ;
}  
  
#skills{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-top: 60px;
}

.skill {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  width: 200px;
  height: 50px;
  margin: 5px 5px;
  font-family: Helvetica;
  font-weight: bold;
  color: blue;
  border-radius: 10px;
  font-size: 16px;
}  

.btn {
  display: block;
  width: 150px;
  margin: 0 auto;
  border: solid 1px green;
  border-radius: 5px;
  padding: 5px 0;
  background-color: #e0ebe8; 
  margin-bottom: 100px;
}

#certificates{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding-top: 60px;
}

.certificate {
  display: inline-block;
  vertical-align: middle;
  line-height: 50px;
  width: 600px;
  height: 50px;
  margin: 5px 5px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  font-size: 16px;
  text-decoration: none;
  border-radius: 10px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.25);
}  

.certificate:hover {
  background-color: cyan;
  text-decoration: none;
  color:black;
}

.ibm {
  background-color: black
}

.google {
  background-color: lightcoral
}

.freecodecamp {
  background-color: darkgreen
}

#contact {
  text-align: center;
  font-family: Helvetica;
  width: 800px;
  margin: 0 auto;
  padding-top: 60px;
}

#profile {
  display: flex;
  flex-direction: row
}

#contact #profile-explanation {
  font-family: Helvetica;
  font-size: 16px;
  text-align: justify;
  width: 500px;
  padding-right: 20px;
}

#contact #profile-photo {
  width: 300px;
}

#contact a{
  text-decoration: none;
}

footer {
  padding-top: 10px;
  text-align: center;
  font-family: Helvetica;
  color:darkblue; 
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  }
  100% {
    transform: none;
  }
}
 
.animate {
  animation: .8s zoom-in;
}

.fadeIn {
	opacity : 0.1;
	transform : translate(0, 50px);
	transition : all 500ms;
	}

.fadeIn.scrollin {
	opacity : 1;
	transform : translate(0, 0);
	}

  #pagetop{
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: 50px;
    background: darkblue;
    opacity: 0.6;
    border-radius: 50%;
  }
  
  #pagetop a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    text-decoration: none;
    text-align: center;
  }

  #pagetop a::before{
    font-family: "Font Awesome 5 Free";
    content: '\f102';
    font-weight: 900;
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0px;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
  }

@media (max-width: 770px){
  #welcome-section {
    padding-top: 20vh;
    min-height: 15vh;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #welcome-section span{
    font-size: 24px;
  }

  .btns-section {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #projects{
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .btns-filter {
    margin-top: 10px;
    font-size: 16px;
  }
  
  .project {
    margin: 10px auto;
    width: 65%;
  }

  .sub-title{
    font-size: 24px;
  }

  .project .caption {
    font-size: 16px;
    padding-top: 150px;
  }

  #skills{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    width: 150px;
  }

  #certificates{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .certificate{
    width: 95%;
    max-width: 195%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  #contact {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #profile {
    display: block;
  }

  #contact #profile-explanation {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;    
  }
  
  #contact #profile-photo {
    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact #profile-photo img{
    width: 60%;
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: 500px){
  #welcome-section {
    padding-top: 20vh;
    min-height: 15vh;
    width: 100%;
    max-width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #welcome-section span{
    font-size: 24px;
  }

  #projects{
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .project-btns {
    max-width: 80%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;    
  }

  .btns-filter {
    margin-top: 10px;
    font-size: 16px;
  }

  .project {
    margin: 10px auto;
    max-width: 90%;
    width: 90%;
  }

  .sub-title{
    font-size: 24px;
  }

  .project .caption {
    font-size: 16px;
    padding-top: 150px;
  }

  #skills{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .skill {
    width: 150px;
  }

  #certificates{
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .certificate{
    width: 95%;
    max-width: 195%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }

  #contact {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #profile {
    display: block;
  }

  #contact #profile-explanation {
    width: 95%;
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;    
  }
  
  #contact #profile-photo {
    width: 90%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  #contact #profile-photo img{
    width: 60%;
    max-width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    width: 100%;
    max-width: 100%;
  }
}